@import "src/style/utils";

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 100px;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 40px;
  }
}

.ourContacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.formContainer {
  margin-top: 80px;

  @media (min-width: 800px) {
    margin-top: 0;
  }
}

.title {
  margin-top: 32px;
  font-size: 32px;
  font-weight: 800;
  color: $c-primary;
}

.text {
  font-weight: 700;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 30px;
  line-height: 26px;
  color: $c-primary;

  @media (min-width: 800px) {
    font-size: 38px;
  }
}

.titleSmall {
  font-weight: 700;
  font-size: 30px;
  padding-left: 55px;
  padding-bottom: 20px;
  line-height: 26px;
  color: $c-primary;
}

.photo {
  width: 300px;

  @media (min-width: 600px) {
    width: 500px;
  }

  @media (min-width: 800px) {
    width: 800px;
  }
}

.contactsList {
  list-style: none;
  margin-top: 20px;
}

.listItem {
  margin-left: 20px;
}

.contact {
  text-decoration: none;
  font-size: 15px;
  color: $c-primary;

  @media (min-width: 800px) {
    font-size: 20px;
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $c-secondary;
  }
}