@import "src/style/mixins";

.container {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
  gap: 16px;

  @include onTablet {
    margin-top: 36px;
    justify-content: flex-start;
  }
}

.item {
  width: 160px;
}

.name {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #89939A;
}
