@import "src/style/utils";

.menu {
  padding-top: 16px;
  position: fixed;
  z-index: 50;
  top: 49px;
  left: 0;
  right: 0;
  background-color: $c-white;
  overflow: hidden;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  transform: translateY(-150%);
  transition: transform 0.5s ease-in-out;

  z-index: 2;

  &Open {
    transform: translateY(0);
    z-index: 2;
  }
  @include onTablet {
    display: none;
  }
}

.menu_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -1px 0px $c-elements;
  background-color: $c-white;
}
