@import "src/style/utils";

.container {
  display: flex;
  gap: 16px;
  width: max-content;
  margin: 32px auto 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: $c-primary;
}

.pages {
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid $c-elements;
  cursor: pointer;
  background: white;

  &:disabled {
    cursor: default;
  }
}

.arrow {
  composes: button;
  border: 1px solid $c-icons;

  &:disabled {
    opacity: 0.5;
  }
}

.current {
  background: $c-primary;
  color: white;
}
