@import "src/style/utils";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include onDesktop {
    flex-direction: row;
  }
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
