@import "src/style/utils";

.navLink {
  position: relative;
  display: flex;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid $c-white;
  background-color: $c-red;
  font-size: 9px;
  color: $c-white;
  top: 25%;
  left: 50%;
  overflow: hidden;

  @include onTablet {
    top: 20%;
  }

  @include onDesktop {
    top: 25%;
  }
}

.isActive {
  position: relative;
  color: $c-primary;
}

.isActive:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $c-primary;
}

.icon {
  padding: 16px 25vw;
  box-shadow: -1px 0px 0px $c-elements;
  box-shadow: -1px 0px 0px $c-elements;
  
  @include onTablet {
    padding: 16px;
  }
  
  @include onDesktop {
    padding: 24px;
  }
}