@import "src/style/utils";

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 32px;

  @include onTablet {
    flex-direction: row;
    margin-left: 32px;
  }

  @include onDesktop {
    gap: 64px;
    margin-left: 48px;
  }
}

.isActive {
  position: relative;
  color: $c-primary;
}

.isActive:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $c-primary;
}