@import "src/style/utils";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  @include onTablet {
    height: 110px;
  }

  @include onDesktop {
    height: 130px;
  }
}

.ring {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 0px solid #fff;
  border-radius: 50%;
  position: absolute;

  @include onTablet {
    width: 100px;
    height: 100px;
  }

  @include onDesktop {
    width: 120px;
    height: 120px;
  }
}

.ring:nth-child(1) {
  border-right-width: 8px;
  border-color: $c-primary;
  animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
  border-bottom-width: 8px;
  border-color: $c-secondary;
  animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: $c-yellow;
  animation: rotate3 2s linear infinite;
}

.text {
  color: $c-primary;
  font-size: 14px;
  font-weight: bold;

  @include onTablet {
    font-size: 17px;
  }

  @include onTablet {
    font-size: 20px;
  }
}

@keyframes rotate1 {
  0%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
