.link {
  text-decoration: none;
  color: #313237;
  font-size: 12px;
  font-weight: 700;
  display: flex;
}

.noLink {
  composes: link;
  color: #89939A;
}

.bread_crumb {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 13px;
}

.icon {
  height: 15px;
}

.shevron {
  height: 13px;
}
