@import "src/style/utils";

.header {
  box-sizing: border-box;
  background-color: $c-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px $c-elements;
  padding-left: 16px;
  min-width: 320px;
  z-index: 3;

  @include onTablet {
    position: sticky;
    top: 0;
  }

  @include onDesktop {
    padding-left: 24px;
  }
}

.navLink {
  display: flex;
}

.navBar {
  display: none;

  @include onTablet {
    display: flex;
  }
}

.iconList {
  display: none;
  
  @include onTablet {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
}

.isActive {
  position: relative;
}

.isActive:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $c-primary;
}

.menu_icon {
  cursor: pointer;
  display: flex;
  width: 16px;
  height: 16px;

  @include onTablet {
    display: none;
  }
}

.burger {
  display: flex;

  @include onTablet {
    display: none;
  }
}

.logo {
  box-sizing: border-box;
  display: flex;
  width: 64px;

  @include onDesktop {
    width: 80px;
  }
};

.menu_button {
  border: 0;
  color: $c-white;
  display: flex;
  padding: 16px;
  background-color: $c-white;
  box-shadow: -1px 0px 0px $c-elements;

  @include onTablet {
    display: none;
  }
}

.headerOpenMenu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
