.navLink {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #89939A;
  display: flex;
  padding: 24px 0;

  &:hover {
    color: #313237;
    
  }
}

.isActive {
  position: relative;
  color: #313237;
}

.isActive:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #313237;
}

@media (max-width: 1200px) {
  .navLink {
    padding: 16px 0;
  }
}

