@import "src/style/utils";

.total {
  width: 100%;
  height: 206px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $c-elements;
  padding: 24px;
  box-sizing: border-box;

  @include onDesktop {
    width: 368px;
  }
}

.button {
  box-sizing: border-box;
  background-color: $c-primary;
  margin-top: 16px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $c-white;
  width: 100%;
  transition: box-shadow .3s ease;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
  }
}

.price {
  color: $c-primary;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;

  &:before {
    content: "$";
  }
}

.line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: $c-elements;
}
