@import "src/style/utils";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 60vh;
}

.button {
  background-color: $c-primary;
  color: $c-white;
  text-decoration: none;
  padding: 1vh 5vw;
  font-size: 14px;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
  }
}