@import "src/style/utils";

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 0;
  flex-direction: column;
}

.title {
  color: $c-primary;
  font-weight: 800;
  padding-bottom: 24px;
  font-size: 32px;
  line-height: 41px;

  letter-spacing: -0.01em;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.photo {
  max-width: 80%;
}

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 172px;
  background-color: $c-primary;
  border: 1px solid transparent;
  color: $c-white;
  cursor: pointer;
  transition: box-shadow .3s ease;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
  }
}
