@import "src/style/utils";

.container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
 }

.photo {
  display: block;
  width: 48px;
  height: 40px;

  @include onTablet {
    width: 90px;
    height: 75px;
  }

  @include onDesktop {
    width: 144px;
    height: 120px;
  }
}

.text {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  flex-direction: column;

  @include onTablet {
    font-size: 26px;
    line-height: 34px;
  }

  @include onDesktop {
    font-size: 40px;
    line-height: 48px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  width: 172px;
  background-color: $c-primary;
  border: 1px solid transparent;
  color: $c-white;
  cursor: pointer;
  transition: box-shadow .3s ease;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  
  // @include onTablet {
  //   width: 220px;
  //   font-size: 18px;
  //   line-height: 24px;
  // }

  // @include onDesktop {
  //   width: 260px;
  //   font-size: 22px;
  //   line-height: 28px;
  // }
  

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
  }
}
