@import "style/fonts.scss";
@import "style/normalize.scss";

html {
  font-family: 'Mont', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  display: none;
}
