@import "src/style/utils";

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
  color: $c-secondary;
}

.value {
  composes: text;
  text-align: right;
  color: $c-primary;
}
