.container {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
  color: #89939a;
}

.value {
  composes: text;
  text-align: right;
  color: #313237;
}
